.vs/Libreria/v17
Libreria.Application/obj
Libreria.Domain/obj
.vs/Libreria/DesignTimeBuild
.vs/ProjectEvaluation
Libreria.Domain/bin
Libreria.Application/bin
Libreria.Infrastructure/bin
Libreria.Infrastructure/obj
Libreria.API/obj
Libreria.API/bin
CreacionContextoInicial/bin
CreacionContextoInicial/obj
.vs/Libreria/FileContentIndex
